# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Virtual Environment
venv*/
venvjoblane/

# Django Stuff
db.sqlite3
media/
*.log

# Environment Variables
.env
.env.docker
.env.prod

# System files
.DS_Store

# IDEs and Editors
.idea/
.vscode/

# Others
*.sqlite3
